KmyKeiba.Nk/bin/
KmyKeiba.Nk/obj/
KmyKeiba/bin/
KmyKeiba/obj/
.vs/
KmyKeiba.JVLink/bin/
KmyKeiba.JVLink/obj/
KmyKeiba.Data/obj/
KmyKeiba.Data/bin/
KmyKeiba.JVLink/JVLib/structures.cs
KmyKeiba.Prompt/bin/
KmyKeiba.Prompt/obj/
KmyKeiba.Downloader/bin/
KmyKeiba.Downloader/obj/
KmyKeiba.Old/bin/
KmyKeiba.Old/obj/
*.DS_Store
dist/
