<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <!-- ログ出力先の定義 -->
    <appender name="LogFileAppender"
              type="log4net.Appender.RollingFileAppender" >
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

      <!-- 作成するログファイル -->
      <param name="File" value="${LOCALAPPDATA}/KMYsofts/KMYKeiba/kmy-keiba-downloader.log" />
      <param name="RollingStyle" value="Size" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="4" />

      <!-- 追加 -->
      <param name="AppendToFile" value="true" />

      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"
               value="%d [%t] (%property{pid}) %-5p %type{1} - %m%n" />
      </layout>
    </appender>

    <root>
      <!-- ログのレベルを指定 -->

      <!-- すべてのログ・レベルを出力 -->
      <level value="ALL" />

      <!-- どのログ出力先を使用するか -->
      <appender-ref ref="LogFileAppender" />
    </root>

  </log4net>
</configuration>